@import "colors";

.edit-button {
    background: url("pencil.png") no-repeat;
    background-size: contain;

    cursor:pointer;
    border: none;
    width:30px;
    height:30px;
    margin-left: 5px;
    float: right;
}

.edit-button:hover,
.edit-button:active {
	  background: url("pencil.png") no-repeat;
    background-size: 25px 25px;
    background-position:center;

    cursor:pointer;
    border: none;
    width:30px;
    height:30px;
    margin-left: 5px;
    float: right;
}

.delete-button {
	background: url("delete.png") no-repeat;
  background-size: contain;

  cursor:pointer;
  border: none;
  width:27px;
  height:30px;
  margin-left: 5px;
  float: right;
}

.delete-button:hover,
.delete-button:active {
	  background: url("delete.png") no-repeat;
    background-size: 25px 25px;
    background-position:center;

    cursor:pointer;
    border: none;
    width:27px;
    height:30px;
    margin-left: 5px;
    float: right;
}

.submit-button {
  width: 130px;
  height: 27px;
  line-height: 30px;
  display: inline-block;
  border: 1px $subdued-color solid;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: $subdued-color;
    text-shadow: 0;
    text-decoration: underline;
  }
}

.button {
	width: 130px;
	height: 27px;
	line-height: 30px;
  display: inline-block;
  border: 1px $subdued-color solid;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: $subdued-color;
    text-shadow: 0;
    text-decoration: underline;
  }

}

