@import "colors";

img {
  border: 0;
  border-width: 0;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 30px;
  line-height: 1.5em;
}

a {
  text-decoration: underline;
}

.link,
.link:visited {
  color: $primary-link-color;
}

.link:hover {
	color: lighten($primary-link-color, 40%);
}

.today-link,
a:visited {
  color: $primary-link-color;
}

.today-link:hover {
	color: darken($primary-link-color, 15%);
}

td.red {
  color: red;
}

td.yellow {
  color: #F7D358;
}