@import "colors";

body {
  color: $primary-text-color;
  background-image: image-url("background.jpg");
  font-family: "Helvetica Neue", Helvetica, Arial;
}

header#page-header {
  background-color: $secondary-background-color;
  padding: 0px 25px;

  h1 a {
    height: 0px;
    padding-top: 60px;
    display: block;
    font-family: "Esteban", sans-serif;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    background: image-url("logo1.png") no-repeat 0 0;
  }

  a.button {
    margin-left: 10px;
    border-color: $subdued-color;
    &:hover {
      background-color: #000;
      color: #fff;
      border-color: #000;
      text-decoration: none;
    }
  }

  div#masthead {
    margin: 0 auto;
    width: 960px;
    position: relative;
    text-shadow: #000 0 0 2px;

    h1 {
      margin: 0;
      color: #fff;
      line-height: 60px;
    }

    nav {
      margin: 0;
      position: absolute;
      color: $subdued-color;
      top: 0;
      right: 0;
      height: 60px;
      a {
        color: $secondary-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

footer#page-footer {
  color: $secondary-text-color;
  padding: 20px 25px;

  p {
    text-align: center;
    margin-bottom: 10px;
  }

  a {
    color: $primary-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

div#wrapper {
  background: #fff;
  padding: 10px;
  min-height: 400px;
  overflow: hidden;
  div#container {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    section#content {
      width: 500px;
      float: right;
      h1 {
        margin: 0;
        padding: 0 0 20px 0;
      }
    }
  }
}

aside#sidebar {
  width: 200px;
  float: left;

  h1 {
    color: $secondary-text-color;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
  }

  nav {
    table {
      margin: 0;
      padding: 0;

      td{
        a:hover {
          background-color: $accent-color;
          color: #000;
        }
      }
    }
  }

  div#todays-tasks {
    width: 420px;
    margin: 20px 10px 10px 0;
    padding: 10px 15px;
    background-image: image-url("background.jpg");
    border: 0;
    box-shadow: #aaa 0 0 8px;

    ul {
      list-style-type: none;

      li {
        margin: 10px 0 0 0;
        padding-bottom: 10px;
        border-bottom: 1px dotted black;
      }
    }

    h3.none {
      color: $secondary-background-color;

    }
  }
}