// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

/* TASKS */

table#tasks {
  border: 3px solid black;
  width: 100%;
  margin-top: 10px;

  td, th {
    border: 1px solid black;
  }

  div.pending {
    td {
      border: 1px solid black;
    }
    background-color: green;
    border: 1px solid black;
  }
}

ul#tasks {
	list-style: none;

	article.task {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px dotted $subdued-color;


    input[type="checkbox"] {
      display:inline-block;
      margin-top: .5em;
      width:19px;
      height:19px;
      float: left;
    }

    h2 {
    	font-size: 120%;
    }

    p {
      color: $secondary-text-color;
    }

    table {
      margin: 1em 0 0 1em;
      line-height: 1.5em;
      font-size: 1.1em;

      th {
        width: 35%;
        text-align: left;
        padding-right: 1em;

        &:after {
          content: ":"
        }
      }

      td {
        text-align: left;
        width: 80%;
      }
    }
	}
}

article#task {
  padding-bottom: 15px;

  p {
    color: darken($secondary-text-color, 10%);
  }

  table {
    line-height: 1.5em;
    font-size: 1.1em;

    th {
      width: 35%;
      text-align: right;
      padding-right: 1em;

      &:after {
        content: ":"
      }
    }

    td {
      width: 75%;
    }
  }
}