<div id="overdue-tasks">
	<% overdue_tasks = gather_overdue_tasks(current_user) %>

	<h3> Overdue Tasks </h3>

	<% if overdue_tasks.size > 0 %>
		<ul>
			<% overdue_tasks.each do |task| %>
				<li>
					<%= link_to "", "/groups/#{task.group.id}/complete/#{task.id}", method: :put, class: 'checkmark-button', title: 'Complete task' %>
					<%= link_to task.title, group_task_path(task.group, task), class: 'today-link' %>
					<%= link_to "", group_task_path(task.group, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button', title: 'Delete' %>
   				<%= link_to "", edit_group_task_path(task.group, task), class: 'edit-button', title: 'Edit' %>
   			</li>
			<% end %>
		</ul>
	<% else %>
		<h3 class="none">None</h3>
	<% end %>
</div>
