<aside id="sidebar">
	<nav>
		<table>
			<tr>
				<td>
					<%= link_to "New Group", new_group_url, class: 'submit-button' %>
				</td>
				<td>
					<%= link_to "Show All Groups", groups_url, class: 'submit-button' %>
				</td>
			</tr>
		</table>
	</nav>

	<%= render 'layouts/todays_tasks' %>
	<br>
	<%= render 'layouts/overdue_tasks' %>
</aside>