<div id="todays-tasks">
	<% todays_tasks = gather_todays_tasks(current_user) %>
	<h3> Today's Tasks </h3>
	<% if todays_tasks.size > 0 %>			
		<ul>
			<% todays_tasks.each do |task| %>
				<li>
					<%= link_to "", "/groups/#{task.group.id}/complete/#{task.id}", method: :put, class: 'checkmark-button' %>
					<%= link_to task.title, group_task_path(task.group, task), class: 'today-link' %>
					<%= link_to "", group_task_path(task.group, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
   			<%= link_to "", edit_group_task_path(task.group, task), class: 'edit-button' %>
   		</li>
			<% end %>
		</ul>
	<% else %>
		<h3 class="none">None</h3>
	<% end %>
</div>
